*,::before,::after{margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
button{ cursor: pointer; padding: 0;}
:disabled{ cursor: not-allowed;}
img{ vertical-align: bottom;}
ul{ list-style: none; padding: 0;}

@font-face {
    font-family: dm;
    src: url(font/DMSans-VariableFont_opsz\,wght.ttf);
    
}
.container{max-width: 1200px; margin: auto;}
.row{display: grid; grid-template-columns: repeat(12,1fr); gap:2rem}
.col-1{grid-column: span 1;}
.col-2{grid-column: span 2;}
.col-3{grid-column: span 3;}
.col-4{grid-column: span 4;}
.col-5{grid-column: span 5;}
.col-6{grid-column: span 6;}
.col-7{grid-column: span 7;}
.col-8{grid-column: span 8;}
.col-9{grid-column: span 9;}
.col-10{grid-column: span 10;}
.col-11{grid-column: span 11;}
.col-12{grid-column: span 12;}
.flex{display: flex;}
body{font-family: dm;}
h2{ color: black; font-size: 21px;}

/* custom */

header{display: flex; justify-content: space-between; align-items: center;  }
h1 img{height: 120px; }
body{background: #ffefde;}
header form{margin-right: 50px;}
header input{width: 300px;height: 40px; border-radius: 10px; border: none; padding: 20px;}
header nav li { padding-left: 20px; }
header nav li :hover{text-decoration: underline;}

.col-3{display: flex; flex-direction: column; flex-grow: 0; }
.grid img { width: 100px; border-radius: 10px;  padding: 10px;  box-shadow: 0px 2px 4px 0px;}
.item h2{margin-top: 10px;}
.item p { height: 40px; margin-top: 10px;}
.image {background: white; display: grid; place-items: center; border: 2px solid grey;  border-radius: 10px;  height: 200px; margin-top: 20px;}
.row {margin-top: 50px; color:rgb(235, 78, 235); margin-bottom: 50px;}

.flash {width: 600px; display: grid; place-items: center; position: absolute; top: 50%; transform: translateY(-50%); left:50%; transform: translateX(-50%); background: white; border-radius: 10px;}
.flash img{height: 600px;}
.flash p{text-align: center; font-family: dm; font-size: 40px;}

